<div class="p-5 container bg-light" style="border-radius: 7px; border: 1px solid blueviolet;">
    <form action="https://formspree.io/f/xyyvzylo" method="POST">
        <div class="pb-2 form-group">
            <label for="exampleFormControlTextarea1">1. Quel usage allez-vous faire de l’ordinateur? Veuillez brièvement détailler ci-dessous</label>
                <div class="p-1">    
                    <textarea name="noob_usage_message" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex: Je stream du Warzone en qualité Ultra sur Twitch de jour, je pirate les systèmes du Pentagone de soir" required></textarea>
            </div>
        </div>
        <div class="pb-2 form-group row">
            <div>2. En termes d’accessoires lumineux (RGB), que voulez-vous intégrer?
            <div class="p-1">
              <div class="form-check">
                <input name="noob_Ventilateurs_RGB" class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                    Ventilateurs
                </label>
              </div>
            <div class="form-check">
                <input name="noob_Bande_LED" class="form-check-input" type="checkbox" id="gridCheck2">
                <label class="form-check-label" for="gridCheck2">
                    Bande LED
                </label>
            </div>
            <div class="form-check">
                <input name="noob_RGB_CPU_Cooler" class="form-check-input" type="checkbox" id="gridCheck3">
                <label class="form-check-label" for="gridCheck3">
                    Refroidisseur CPU
                </label>
            </div>
            <div class="form-check">
                <input name="noob_RGB_RAM" class="form-check-input" type="checkbox" id="gridCheck4">
                <label class="form-check-label" for="gridCheck4">
                  Mémoire Vive
                </label>
              </div>
            <div class="form-check">
                <input name="noob_RGB_GPU" class="form-check-input" type="checkbox" id="gridCheck5">
                <label class="form-check-label" for="gridCheck5">
                    Carte Graphique
                </label>
            </div>
            <div class="form-check">
                <input name="noob_RGB_Motherboard" class="form-check-input" type="checkbox" id="gridCheck6">
                <label class="form-check-label" for="gridCheck6">
                    Carte mère
                </label>
            </div>
            <div class="form-check">
                <input name="noob_RGB_Cables" class="form-check-input" type="checkbox" id="gridCheck7">
                <label class="form-check-label" for="gridCheck7">
                    Câbles
                </label>
              </div>
            <div class="form-check">
                <input name="noob_Other_Accessories" class="form-check-input" type="checkbox" id="gridCheck8">
                <label class="form-check-label" for="gridCheck8">
                    Autre (Détaillez ci-dessous)
                </label>
            </div>
            <div class="form-check">
                <input name="noob_Nothing_RGB" class="form-check-input" type="checkbox" id="gridCheck9">
                <label class="form-check-label" for="gridCheck9">
                    Rien, je suis épileptique
                </label>
            </div>
        </div>
            </div>
          </div>
        <div class="pb-2 form-group">
        <label for="exampleFormControlSelect1">3. Quel est votre budget?</label>
        <div class="p-1">   
            <select name="noob_budget" class="form-control" id="exampleFormControlSelect1">
                <option>Entre 300 et 400$ (Parfait pour le travail de bureau de base)</option>
                <option>Entre 400 et 500$ (Parfait le travail de bureau de base et travaux d’école)</option>
                <option>Entre 500 et 700$ (Parfait pour travaux d’école et gaming léger)</option>
                <option>Entre 700 et 1000$ (Parfait pour tout gaming à qualité intermédiaire)</option>
                <option>Entre 1000 et 1500$ (Parfait pour tout gaming à qualité avancée)</option>
                <option>Plus de 1500$ (Machine de guerre)</option>
            </select>
        </div> 
        </div>
        <fieldset class="form-group">
              <label>4. Êtes-vous à l’aise avec la configuration de l’ordinateur? (Installation de Windows, Startup, Installation des Pilotes, Manipulations BIOS, Overclocking si nécessaire)</label>
              <div class="p-1"> 
              <div class="form-check">
                  <input class="form-check-input" type="radio" name="config" id="gridRadios1" value="a_l'aise">
                  <label class="form-check-label" for="gridRadios1">
                    Oui, je suis à l'aise
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="config" id="gridRadios2" value="pas_a_l'aise" checked>
                  <label class="form-check-label" for="gridRadios2">
                    Non, j'aurais besoin d'assistance
                  </label>
                </div>
            </div>
            <div class="pt-2 form-group">
                <label for="exampleFormControlTextarea1">5. Si vous avez des spécifications particulières ou des questions, écrivez les ici.</label>
                    <div class="p-1">    
                        <textarea name="noob_other_message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <p class="pt-1"> On est presque là ! Faites-nous part de vos informations et nous vous contacterons dans les plus brefs délais.</p>
            <div class="form-row">
                <div class="form-group col-md-3" style="display: inline-block; margin-right: 5%;">
                    <label for="inputPassword4">Nom complet</label>
                    <input name="name" type="text" class="form-control" id="inputPassword4" required>
                  </div>
                <div class="form-group col-md-3" style="display: inline-block; margin-right: 5%;">
                  <label for="inputEmail4">Email</label>
                  <input name="email" type="email" class="form-control" id="inputEmail4" placeholder="xdy@example.ca">
                </div>
                <div class="form-group col-md-3" style="display:inline-block;">
                    <label for="inputEmail4">Numéro de téléphone</label>
                    <input name="phone_number" type="text" class="form-control" id="inputEmail4" required>
                  </div>
              </div>
              <div class="pt-2 form-group">
                <label for="inputAddress">Adresse</label>
                <input name="adresse" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
              </div>
              <div class="pt-2 form-row">
                <div class="form-group col-md-3" style="display: inline-block; margin-right: 5%;">
                  <label for="inputCity">Ville</label>
                  <input name="city" type="text" class="form-control" id="inputCity">
                </div>
                <div class="pt-2 form-group col-md-3" style="display: inline-block; margin-right: 5%;">
                  <label for="inputState">Province</label>
                  <select id="inputState" class="form-control" disabled>
                    <option selected>Québec</option>
                    <option>...</option>
                  </select>
                </div>
              </div>
            <div class="pt-3">
                <button type="submit" class="btn mb-2" style="background-color: blueviolet; color: aliceblue;">Suivant</button>
            </div>
          </fieldset>

    </form>
</div>
