<div class="container vh-100 mw-100" id="container2" style="padding-top:0%;">
    <div class="row" style="padding-top: 5%;">
        <div class="col">
                <div class="card" id="purp135">
                    <img class="img-responsive" src="" id="mypic2">
                    <div class="card-body">
                      <h3 class="card-title display-2 fw-bold text-light" style="font-size: 35px;">I LET <div class="clearfix pt-1"></div> </h3>
                      <p class="card-text text-secondary display-6" style="font-size: 15px;">Besoin d'un service d'entretien ou de mise à niveau pour votre machine actuelle? PROTOTYPE s'en occupe!</p>
                    </div>
                  </div>
        </div>
        <div class="col">
            <div class="card" id="purp225">
                <img class="img-responsive" src="" id="mypic2">
                <div class="card-body">
                  <h3 class="card-title display-2 fw-bold text-light" style="font-size: 35px;">MY <div class="clearfix pt-1"></div></h3>
                  <p class="card-text text-secondary display-6" style="font-size: 15px;">Besoin d'un service d'entretien ou de mise à niveau pour votre machine actuelle? PROTOTYPE s'en occupe!</p>
                </div>
              </div>
        </div>
    </div>
    <div class="row pt-4">
        <div class="col">
                <div class="card" id="purp45">
                    <img class="img-responsive" src="" id="mypic2">
                    <div class="card-body">
                      <h3 class="card-title display-2 fw-bold text-light" style="font-size: 35px;">NUTS <div class="clearfix pt-1"></div> UN ORDINATEUR</h3>
                      <p class="card-text text-secondary display-6" style="font-size: 15px;">Besoin d'un service d'entretien ou de mise à niveau pour votre machine actuelle? PROTOTYPE s'en occupe!</p>
                    </div>
                  </div>
        </div>
        <div class="col">
            <div class="card" id="purp315">
                <img class="img-responsive" src="" id="mypic2">
                <div class="card-body">
                  <h3 class="card-title display-2 fw-bold text-light" style="font-size: 35px;">HANG <div class="clearfix pt-1"></div> UN ORDINATEUR</h3>
                  <p class="card-text text-secondary display-6" style="font-size: 15px;">Besoin d'un service d'entretien ou de mise à niveau pour votre machine actuelle? PROTOTYPE s'en occupe!</p>
                </div>
              </div>
        </div>
    </div>
</div>