<div class="container mw-100" id="container2">
  <div class="container d-flex justify-content-center p-5" style="width:75rem;">
    <div class="container text-light text-center" id="divroyalblue">
      <div>
      <h4 class="">ⓘ POURQUOI NOTRE SERVICE VOUS AVANTAGE</h4>
      <div class="p-5">
        <img src="../assets/img/vs.png" class="card-title" id="mypic3">
      </div>
      <div class="">
        <table class="table table-striped table-dark" style="border-radius: 15px; overflow: hidden;">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col"><a style="text-decoration: none; color: blueviolet;" href="https://www.bestbuy.ca/en-ca/product/asus-rog-strix-g10ce-gaming-pc-intel-core-i5-11400f-512gb-ssd-12gb-ram-geforce-gtx1660-ti-win11/15737358">Retail Store Pre-Built</a></th>
              <th scope="col"><a style="text-decoration: none; color: blueviolet;" href="https://ca.pcpartpicker.com/list/9fdxTn">Prototype Hand-Built</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Performances à niveau d'entrée (i5 11400, GTX 1660 Super, 512GB SSD, 12GB RAM)</td>
              <td>✔️</td>
              <td>✔️ *(16GB RAM)</td>
            </tr>
            <tr>
              <td>Pièces de qualité par des manufacturiers reconnus (Corsair, MSI, NZXT, EVGA, etc.)</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <td>Système de ventilation optimisé</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <td>Gestion de câbles profesionnelle</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <td>Bâti de façon à durer et évoluer</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <td>Esthétique raffinée et personnalisée</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <td>Inclut Windows 10/11, Microsoft Office et la configuration</td>
              <td></td>
              <td>✔️</td>
            </tr>
            <tr>
              <th scope="col">PRIX</th>
              <th scope="col">1500$</th>
              <th scope="col">999$</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  </div>


