    <div class="container-fluid" id="container2" style="overflow:hidden;">
        <div class="row justify-content-center align-items-center mw-100 vh-100">
            <div class="d-flex text-center justify-content-center" data-aos="fade-down" data-aos-duration="3000">
                <h2><span class="display-6 text-light">Que ce soit pour passer le bac, gagner le prochain tournoi Fortnite ou simplement surfer sur le net, </span>
                <br><span class="display-6 fw-bold text-light">PROTOTYPE s'occupe de construire l'ordinateur approprié à VOS besoins!</span>
                <br><span><i class="pt-3 fa fa-arrow-down text-danger"></i></span></h2>
            </div> 
        </div>
        <div class="text-center display-6" data-aos="fade-up" data-aos-duration="3000" style="font-size: 20px; float: inline-end; padding-bottom: 25%;"><span clas>Prêt à démarrer? <button class="btn btn-danger"><span>Naviguez ici </span><i class="fa fa-gears"></i></button> ! Nous recommandons tout d'abord de passer <button (click)="goToPage('info')" class="btn btn-primary"><span>par ici </span> <i class="bi-patch-question-fill"></i></button> pour vous familiariser avec le service PROTOTYPE</span></div>    
    </div>
