<div>ALEX IS A CRACKER!</div>
<!--
<form>
<button class="close" style="float: right; border-radius: 5px; border-color: blueviolet; color: blueviolet;">X</button>
<p style="font-size:medium; color: grey;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, excepturi accusamus doloribus optio ullam nemo ad pariatur unde quo, iste aliquam non ab error, explicabo repellendus animi illo. In, praesentium?</p>
</form>

<div class="pt-5 row">
    <div class="col-sm-6">
        <a (click)="openDialog2()"></a>
        <div class="card">DÉBUTANT</div>
            <p style="color: grey;">Je ne connais peu ou rien des ordinateurs, aidez-moi à trouver les pièces nécéssaires</p>
    </div>
    <div class="col-sm-6">
        <div class="card">AVANCÉ</div>
        <p style="color: grey;">Je sais déjà quelles pièces il me faut, aidez-moi juste à monter l'ordinateur</p>
    </div>
</div>-->