<div class="p-5 container bg-dark" style="border: 2px solid blueviolet; border-radius: 10px;">
    <div class="row"> 
        <p style="font-size:medium; color: aliceblue;">Que ce soit pour passer le bac, gagner le prochain tournoi Fortnite ou simplement surfer sur le net, PROTOTYPE s’occupe de chercher et commander les pieces adéquates afin de monter l’ordinateur approprié à VOS besoins! La procédure est simple: répondez à notre questionnaire et nous vous contacterons. </p>
        <div class="pt-5 row">
            <div class="col-sm-6">
                 
                <div (click)="goToPage('nouvelOrdiNoob')" class="card">DÉBUTANT
                    <p style="color: grey;">Je ne connais peu ou rien des ordinateurs, aidez-moi à trouver les pièces nécéssaires</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div (click)="goToPage('nouvelOrdiPro')" class="card">AVANCÉ
                    <p style="color: grey;">Je sais déjà quelles pièces il me faut, aidez-moi juste à monter l'ordinateur</p>
                </div>
            </div>        
        </div>
    </div>
</div>
