<div class="p-5 container bg-light">
    <div class="row"> 
        <h2 class=""><span class="display-4 fw-bold text-dark">Tous les chemins mènent à votre ordinateur idéal, </span>
        <span class="display-5 text-dark">lequel emprunterez-vous?</span></h2>
        <div class="pt-5 row row-cols-auto justify-content-md-center">
            <div class="col"> 
                <div (click)="goToPage('nouvelOrdiNoob')" class="card text-center" style="width: 18rem; border:2px solid black;">
                    <div class="p-1 container">
                    <img class="img-responsive" id="mypic4" src="../../assets/img/noob.png" alt="debutant">
                    <h3 class="card-title">DÉBUTANT</h3>
                    <span class="text-secondary">Je ne connais peu ou rien des ordinateurs, aidez-moi à trouver les pièces nécéssaires</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div (click)="goToPage('nouvelOrdiPro')" class="card text-center" style="width: 18rem; border:2px solid black;">
                    <div class="p-1 container">
                    <img class="img-responsive" id="mypic4" src="../../assets/img/god.png" alt="avance">
                    <h3 class="card-title">AVANCÉ</h3>
                    <span class="text-secondary">Je sais déjà quelles pièces il me faut, aidez-moi juste à monter l'ordinateur</span>
                    </div>    
                </div>
            </div>        
        </div>
    </div>
</div>
